<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"/>
    <script src="https://use.fontawesome.com/f21e5638ba.js"></script>
    <title>Capstone Travel App</title>
  </head>

  <body class="container open-sans">
    <header class="header-container">
      <nav class="navbar">
        <div class="logo-container">
          <img src="../assets/logo.png" class="logo" alt="logo travel app" />
         </div>
        <div class="options-menu" id="options-menu">
          <a href="#" class="text-base item"
            ><i class="fa fa-plane item-icon" aria-hidden="true"></i>Travels</a
          >
          <a href="#" class="text-base item"
            ><i class="fa fa-h-square item-icon" aria-hidden="true"></i
            >Hotels</a
          >
          <a href="#" class="text-base item"
            ><i class="fa fa-car item-icon" aria-hidden="true"></i>Car Rental</a
          >
        </div>
      </nav>
    </header>

    <main class="main-container">
      <section class="section-container">
          <form method="POST" class="form-row">
          <div class="row-input text-base">
            <label for="">Trip to:</label>
            <input
              type="text"
              class="input-form open-sans"
              name="location"
              id="location"
              placeholder="Destination City"
            />
          </div>
          <div class="row-input-md text-base">
            <label for="departure-date">Date: </label>
            <input
              type="date"
              class="input-form open-sans"
              name="date"
              id="date"
            />
          </div>
          <button type="submit" id="submit" class="btn-form open-sans">
            Search
          </button>
        </form>
      </section>
      <section class="tripResult">
        <div id="result">
            <span class="text-lg open-sans">Desired destinations result:</span>
          </div>
          <div id="trip"></div>
      </section>
    </main>

    <footer class="footer-container bg-footer">
      <p class="text-base text-center">
        <i>Copyright 2020 by Flavia Barreto - Last Project Of Nanodegree - Udacity</i>
      </p>
      <div class="social">
        <a
          href="https://www.facebook.com/flavia.melo.148/"
          target="_blank"
          ><i
            class="fa fa-facebook-square icon-social text-lg"
            aria-hidden="true"
          ></i
        ></a>
        <a href="https://www.instagram.com/flaviamelo13/?hl=pt" target="_blank"
          ><i class="fa fa-instagram icon-social text-lg" aria-hidden="true"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/flaviabarreto/"
          target="_blank"
          ><i
            class="fa fa-linkedin-square icon-social text-lg"
            aria-hidden="true"
          ></i
        ></a>
      </div>
    </footer>

    <script>

      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
                  // Use the window load event to keep the page load performant
                  window.addEventListener('load', () => {
                      navigator.serviceWorker.register('/service-worker.js');
                  });
              } 
  
          </script>
  </body>
</html>