<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <div class="navigation">
                <ul>
                    <li>Hotels</li>
                    <li>Flights</li>
                </ul>
            </div>
        </header>
        <main>
            <h1>Enter a city and a departure date within 15 days. You
                will receive information and images relevant to the destination city and country.</h1>
            <div class="trip-form">
                <div class="form-container">
                    <div class="form-item">
                        <label for="destination">My trip to:</label>
                        <input type="text" id="destination" placeholder="Enter Location">
                    </div>
                    <div class="form-item">
                        <label for="start-date">Departing:</label>
                        <input type="text" id="start-date" placeholder="DD/MM/YYYY">
                    </div>
                    <button class="trip-form-button">
                        Let's Go!!
                    </button>
                </div>
            </div>
            <div class="my-trips">

            </div>
        </main>
        <footer>
            <p><em>Made by Flavia Barreto &#169; 2020.</em></p>
        </footer>

        <script>

            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                        // Use the window load event to keep the page load performant
                        window.addEventListener('load', () => {
                            navigator.serviceWorker.register('/service-worker.js');
                        });
                    } 
        
        </script>
    </body>
</html>